<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434331330541-po8omj0h8kanlb3khdki23lancncjmlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434331330541-po8omj0h8kanlb3khdki23lancncjmlh</string>
	<key>API_KEY</key>
	<string>AIzaSyDbHhGgRcR_eFGsm9vphY3din9PZMP9rt4</string>
	<key>GCM_SENDER_ID</key>
	<string>434331330541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saawis.devfest</string>
	<key>PROJECT_ID</key>
	<string>gdgkabul-devfest</string>
	<key>STORAGE_BUCKET</key>
	<string>gdgkabul-devfest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434331330541:ios:a45649890d6034554d29e4</string>
	<key>DATABASE_URL</key>
	<string>https://gdgkabul-devfest.firebaseio.com</string>
</dict>
</plist>